:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--dark-blue);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-style: normal;
  font-weight: 800;
}
.quote__container {
  background-color: var(--dark-grayish-blue);
  border-radius: 0.625rem;
  padding: 2.5rem 1rem 4rem;
  color: var(--light-cyan);
  text-align: center;
  position: relative;
}

.advice {
  text-transform: uppercase;
  color: var(--neon-green);
  font-size: 0.688rem;
  line-height: normal;
  letter-spacing: 0.216rem;
}
.adive__text {
  font-size: 1.5rem;
  line-height: normal;
  letter-spacing: -0.016rem;
}
.divider {
  margin-top: 1.5rem;
  background-image: url("./images/pattern-divider-mobile.svg");
}
.shuffle {
  border: none;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--neon-green);

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);

  display: flex;
  align-items: center;
  justify-content: center;
}
.dice {
  width: 1.5rem;
  height: 1.5rem;
}
